@font-face {
  font-family: khmerOsSiemReap;
  src: url("./fonts/KhmerOSsiemreap.ttf");
}

@font-face {
  font-family: khmerOsMuolLight;
  src: url("./fonts/KhmerOSmuollight.ttf");
}

@font-face {
  font-family: tacteng;
  src: url("./fonts/TACTENG.TTF");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
li,
th,
td,
button,
div,
label,
title {
  font-family: khmerOsSiemReap;
}

.HeaderFont {
  font-family: khmerOsMuolLight;
  font-size: 9pt !important;
}
a {
  font-family: khmerOsMuolLight;
  font-size: 12pt !important;
}
a:hover {
  text-decoration: none;
  color: rgb(16, 104, 104);
}

.HeaderFont1 {
  font-family: tacteng;
  font-size: 9pt !important;
}
.HeaderStyle {
  text-align: justify !important;
}
